---
- name: remove version hold for containerd package
  command: apt-mark unhold containerd.io
  register: remove_version_hold
  failed_when:
    - remove_version_hold.rc != 0
    - remove_version_hold.rc != 100  # package does not exist
  changed_when: remove_version_hold.rc == 0

# remove previous install with KIB through an OS package
- name: remove containerd.io deb package
  apt:
    name: containerd.io
    state: absent
  register: result
  until: result is success
  retries: 5
  delay: 3

- name: install libseccomp2 package
  apt:
    name: libseccomp2
    state: present
