---
python_path: ""
kubernetes_version: "1.21.6"
containerd_version: "1.4.11"
kubernetes_cni_version: "0.9.1"
etcd_version: "3.4.13-0"
coredns_version: "1.8.0"
pause_image_version: "3.4.1"
# TODO: figure out where this image is used and why the Kubelet tries to pull it
pause_image_version_prev: "3.2"
crictl_version: "1.22.0"
kfips_version: "0.1.0"

etcd_image_tag: "{{ etcd_version }}"

# https://github.com/containerd/containerd/releases/download/v1.4.11/cri-containerd-cni-1.4.11-linux-amd64.tar.gz
containerd_url: https://github.com/containerd/containerd/releases/download/v{{ containerd_version }}/cri-containerd-cni-{{ containerd_version }}-linux-amd64.tar.gz
containerd_sha256: 80c47ec5ce2cd91a15204b5f5b534892ca653e75f3fba0c451ca326bca45fb00
kubernetes_http_source: https://storage.googleapis.com/kubernetes-release/release
kubernetes_cni_semver: v{{ kubernetes_cni_version }}
kubernetes_cni_http_checksum: sha256:https://storage.googleapis.com/k8s-artifacts-cni/release/{{ kubernetes_cni_semver }}/cni-plugins-linux-amd64-{{ kubernetes_cni_semver }}.tgz.sha256
kubernetes_cni_http_source: https://github.com/containernetworking/plugins/releases/download
crictl_url: https://github.com/kubernetes-sigs/cri-tools/releases/download/v{{ crictl_version }}/crictl-v{{ crictl_version }}-linux-amd64.tar.gz
crictl_sha256: 45e0556c42616af60ebe93bf4691056338b3ea0001c0201a6a8ff8b1dbc0652a
containerd_cri_socket: /run/containerd/containerd.sock
flatcar_containerd_cri_socket: /run/docker/libcontainerd/docker-containerd.sock
systemd_prefix: /usr/lib/systemd/site-packages
flatcar_systemd_prefix: /etc/systemd
sysusr_prefix: /usr
sysusrlocal_prefix: /usr/local
flatcar_sysusr_prefix: /opt
flatcar_sysusrlocal_prefix: /opt
containerd_flatcar_bins:
  - ctr
  - containerd
  - containerd-shim


download_images: Null
images_cache: /opt/dkp/images

kubernetes_goarch: amd64
kubernetes_bins:
  - kubeadm
  - kubectl
  - kubelet

sysprep: true
offline_local_bundle_path: ""
offline_remote_bundle_dir: "/root/.konvoy/offline"
offline_remote_bundle_file: "offline.tar.gz"
