# MacOS DS_Store files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
coverage.xml

# Dependency directories (remove the comment below to include it)
#vendor/

# Output of GoReleaser
dist/

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# GoLand and IntelliJ IDEA files
.idea/

# env files that usually contain secrets or local config
.env
.envrc

# konvoy-image
manifest.json

.devkit*
.docker-*
.cache
.ansible
flatcar-version.yaml
/work/
/bin/
/report/
/super-linter.log
/debug-goss-spec.yaml
/goss-spec.yaml
/artifacts/

/test/e2e/ansible/generated/*
!/test/e2e/ansible/generated/.keep

/ansible/venv/*
/ansible/molecule/**/__pycache__/

/cmd/konvoy-image-wrapper/image/konvoy-image-builder.tar.gz
packer-custom-vpc-override.yaml
.env
packer-vsphere-airgap.yaml
vsphere-tests.pem
vsphere-bastion.pub
authorized_keys
github-token.txt
.local
/overrides/release.yaml
ansible-runs

.terraform
*.tfstate*
.terraform.*
bundles/*/repos
bundles/*/repodata*
bundles/*/*.txt
bundles/*/*.sh
bundles/*/generated*
