---
- name: start containerd
  service:
    name: containerd
    state: started

- name: pull control plane images
  shell: "crictl pull {{ item }}"
  loop: "{{ control_plane_images }}"

- name: pull extra images
  shell: "crictl pull {{ item }}"
  loop: "{{ extra_images }}"

- name: pull aws images
  shell: "crictl pull {{ item }}"
  loop: "{{ aws_images }}"
  when: packer_builder_type.startswith('amazon')
