audit
ca-certificates
conntrack-tools
chrony
open-vm-tools
python3-pip
python-unversioned-command
socat
sysstat
yum-utils
yum-plugin-versionlock
NetworkManager
yum-utils
cloud-init
cloud-utils-growpart
container-selinux
conntrack
ebtables
ethtool
iproute
iptables
socat
gcc
libseccomp
nfs-utils
sssd-kcm
iptables-libs
libnftnl
