---
# Create a boot order configuration
# b/w containerd and cloud final, cloud config services

- name: Creates unit file directory for cloud-final
  file:
    path: /etc/systemd/system/cloud-final.service.d
    state: directory

- name: Create cloud-final boot order drop in file
  copy:
    dest: /etc/systemd/system/cloud-final.service.d/boot-order.conf
    src: etc/systemd/system/cloud-final.service.d/boot-order.conf
    owner: root
    group: root
    mode: "0755"

- name: Creates unit file directory for cloud-config
  file:
    path: /etc/systemd/system/cloud-config.service.d
    state: directory

- name: Create cloud-final boot order drop in file
  copy:
    dest: /etc/systemd/system/cloud-config.service.d/boot-order.conf
    src: etc/systemd/system/cloud-config.service.d/boot-order.conf
    owner: root
    group: root
    mode: "0755"

# Some OS might disable cloud-final service on boot (rhel 7).
# Enable all cloud-init services on boot.
- name: Make sure all cloud init services are enabled
  service:
    name: "{{ item }}"
    enabled: yes
  with_items:
    - cloud-final
    - cloud-config
    - cloud-init
    - cloud-init-local
  when: ansible_os_family != "Flatcar"

- name: Create cloud-init config file
  copy:
    src: files/etc/cloud/cloud.cfg.d/05_logging.cfg
    dest: /etc/cloud/cloud.cfg.d/05_logging.cfg
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family != "Flatcar"

- name: get cloud_init version
  register: cloud_init_version
  shell: cloud-init --version | awk '{print $2}' | cut -d- -f1
  when: ansible_os_family !=  "Flatcar"

- name: set cloudinit feature flags
  copy:
    src: usr/lib/python3/dist-packages/cloudinit/feature_overrides.py
    dest: "{{ sysusr_prefix }}/lib/python3/dist-packages/cloudinit/feature_overrides.py"
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == "Debian" and  cloud_init_version.stdout  | float > 20.0

- name: get python3 location for non-debian
  register: python3_version
  shell: python3 -c "import sysconfig; print(sysconfig.get_path('purelib'))"
  when: ansible_os_family not in ["Debian", "Flatcar"]

- name: set cloudinit feature flags for non debian systems
  copy:
    src: usr/lib/python3/dist-packages/cloudinit/feature_overrides.py
    dest: "{{ python3_version.stdout }}/cloudinit/feature_overrides.py"
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family not in ["Debian", "Flatcar"] and  cloud_init_version.stdout | float > 20.0

- name: Ensure chrony is running
  systemd:
    enabled: yes
    state: started
    daemon_reload: yes
    name: chronyd
  when: (packer_builder_type.startswith('amazon') or
    packer_builder_type.startswith('azure') or
    packer_builder_type is search('vmware') or
    packer_builder_type is search('vsphere')) and
    ansible_os_family != "Flatcar"
