---
# yum-plugin-versionlock is deprecated in rhel 8 and replaced with
# python3-dnf-plugin-versionlock. python3-dnf-plugin-versionlock has hard
# dependency on dnf and yum versions which are protected packages on
# RedHat 8.x and not allowed to upgraded by the OS
- name: set use package versionlock fact
  set_fact:
    versionlock_plugin_enabled: "{{
      not (
        offline_mode_enabled and
        ansible_distribution == 'RedHat' and
        ansible_distribution_major_version == '8'
      ) }}"

- name: remove release ver file for azure
  file:
    path: /etc/yum/vars/releasever
    state: absent
  when:
    - packer_builder_type.startswith('azure')
    - ansible_distribution_major_version == '8'

- name: disable eus repos azure
  yum:
    name:
      - rhui-azure-rhel8-eus
    state: absent
    disablerepo: '*'
  when:
    - packer_builder_type.startswith('azure')
    - ansible_distribution_major_version == '8'

- name: get the regular repos config file
  get_url:
    url: https://rhelimage.blob.core.windows.net/repositories/rhui-microsoft-azure-rhel8.config
    dest: /tmp/rhel8.config
  when:
    - packer_builder_type.startswith('azure')
    - ansible_distribution_major_version == '8'

- name: add non-eus repos
  yum:
    name:
      - rhui-azure-rhel8
    conf_file: /tmp/rhel8.config
  when:
    - packer_builder_type.startswith('azure')
    - ansible_distribution_major_version == '8'

- name: install yum utilities azure
  yum:
    name:
      - yum-utils
      - yum-plugin-versionlock
    state: present
    disablerepo: modular
  when:
    - packer_builder_type.startswith('azure')
    - ansible_distribution_major_version == '8'


- name: install yum utilities
  yum:
    name:
      - yum-utils
      - yum-plugin-versionlock
    state: present
    enablerepo: "{{ 'offline' if offline_mode_enabled else '' }}"
    disablerepo: "{{ '*' if offline_mode_enabled else '' }}"
  register: result
  until: result is success
  retries: 5
  delay: 3
  when:
    - versionlock_plugin_enabled
    - not packer_builder_type.startswith('azure')

- name: check if versionlock exists
  command: yum versionlock list
  register: versionlocklist
  args:
    warn: false
  ignore_errors: true
  changed_when: false

- name: export versionlocklist
  set_fact:
    exportedversionlocklist: "{{ versionlocklist }}"
