---
# NOTE(jkoelker) Grab the build tag (eg. `fips.0` from `v1.21.6+fips.0`)
- name: detect build
  shell: kubeadm version -o short
  register: kubeadm_version_out

- name: set kubeadm version
  set_fact:
    kubeadm_version: "{{ kubeadm_version_out.stdout | trim }}"

# TODO(dkoshkin) remove this hardcoded version when additional images are built for FIPS
# TODO(dkoshkin) remove this hardcoded version when etcd v3.5.x is stable https://github.com/kubernetes/kubeadm/issues/2676 
- name: set hardcoded etcd image
  set_fact:
    hardcoded_etcd_fips_version:  "{{ 'v3.4.13_fips.0' if 'fips' in kubeadm_version else '3.4.13-0' }}"

- name: copy kubeadm config
  template:
    src: "kubeadm-conf.yaml.tmpl"
    dest: "kubeadm-conf.yaml"

- name: determine kubernetes images
  shell: kubeadm config images list --config kubeadm-conf.yaml
  register: kubernetes_kubeadm_images

- name: set kubernetes images
  set_fact:
    kubernetes_images: "{{ kubernetes_kubeadm_images.stdout_lines }}"

- name: set pause image
  set_fact:
    pause_image: "{{
      kubernetes_images |
      select('match', '.*/pause:.*') |
      first
    }}"

- name: Get containerd pause image name
  # NOTE Only `config default` guarantees to output the containerd sandbox image configuration. By comparison, if
  # user-defined configurations are defined for containerd, then `config dump` merges them, and, as a result, may end up
  # removing the sandbox image configuration. Also, if no configuration files exist on disk, `config dump` returns an
  # error.
  command: containerd config default
  register: system_containerd_config_default_cmd
- name: Set containerd pause image name fact
  set_fact:
      # If match is found, evaluates to a list, e.g., ["registry.k8s.io/pause:3.6"]. Otherwise, evaluates to an empty string.
      containerd_sandbox_image: "{{ system_containerd_config_default_cmd.stdout | regex_search('sandbox_image = \"(?P<name>.*)\"', '\\g<name>') }}"

# NOTE Create a list for easy concatenation.
- name: Set containerd_images fact as default empty list
  set_fact:
    containerd_images: []
- name: Append containerd pause image, if defined, to the containerd_images fact
  set_fact:
    containerd_images: "{{ containerd_sandbox_image }}"
  when: containerd_sandbox_image != ""
