[kubernetes]
name=Konvoy Kubernetes package repository
baseurl=https://konvoy-packages-staging.s3.amazonaws.com/stable/linux/repos/el/kubernetes-v{{ .KubernetesVersion }}-{{ .RepoSuffix }}/x86_64
gpgcheck=1
gpgkey=https://konvoy-packages-staging.s3.amazonaws.com/stable/linux/repos/d2iq-sign-authority-gpg-public-key
