---
- name: install apt-transport-https deb package
  apt:
    name: apt-transport-https
    state: latest
    update_cache: true
  register: apt_lock_status
  until: apt_lock_status is not failed
  retries: 5
  delay: 10

- name: apt update package management cache
  apt:
    update_cache: true
  register: apt_lock_status
  until: apt_lock_status is not failed
  retries: 5
  delay: 10
  
- name: install common debs
  apt:
    name:
      - chrony
      - nfs-common
      - python3-cryptography
      - python3-pip
    state: present
  register: apt_lock_status
  until: apt_lock_status is not failed
  retries: 5
  delay: 10

- name: install pinned debs
  apt:
    force_apt_get: True
    name: "{{ item }}"
    state: present
    force: yes
  register: apt_lock_status
  until: apt_lock_status is not failed
  retries: 5
  delay: 10
  with_items: "{{pinned_debs}}"
  when: ansible_os_family == "Debian"

- name: remove version hold for kubelet and kubectl packages
  command: apt-mark unhold {{ item }}
  with_items:
    - kubelet
    - kubectl


- name: install kubelet deb package
  apt:
    name: kubelet={{ package_versions.kubernetes_deb }}
    state: present
    force: true
  register: apt_lock_status
  until: apt_lock_status is not failed
  retries: 5
  delay: 10

- name: install kubectl deb package
  apt:
    name: kubectl={{ package_versions.kubernetes_deb }}
    state: present
    force: true
  register: apt_lock_status
  until: apt_lock_status is not failed
  retries: 5
  delay: 10

- name: add version hold for kubelet and kubectl packages
  command: apt-mark hold {{ item }}
  with_items:
    - kubelet
    - kubectl
