---
- name: Create a directory if it does not exist
  file:
    path: "{{ flatcar_sysusr_prefix }}/bin"
    state: directory
    mode: 0755

- include: url.yaml

- name: Get crictl version
  command: crictl --version
  register: system_crictl_version_cmd
  changed_when: false
- name: Set crictl version fact
  set_fact:
    system_crictl_version: "{{ system_crictl_version_cmd.stdout | regex_replace('^crictl version v(?P<version>.*)$', '\\g<version>', multiline=True) }}"
# must include crictl-url.yml after installing containerd,
# as the cri-containerd tarball also includes crictl.
- include: crictl-url.yaml
  when: crictl_version_flatcar != system_crictl_version

- name: create kubelet systemd directory
  file:
    path: "/etc/systemd/system/kubelet.service.d/"
    state: directory

- name: enable kubelet
  systemd:
    name: kubelet
    enabled: true
