---
- name: find installed RPMs
  yum:
    list: installed
    enablerepo: "{{ 'offline' if offline_mode_enabled else '' }}"
    disablerepo: "{{ '*' if offline_mode_enabled else '' }}"
    update_cache: true
  register: installed_rpms

- name: install common RPMS if already not installed
  command: yum install -y {{ '--disablerepo "*" --enablerepo offline' if offline_mode_enabled else '' }} {{ '--allowerasing' if ansible_distribution_major_version == '9' else '' }} {{ item }}
  when:
    - installed_rpms.results | selectattr('name','equalto', item ) | list | count == 0
  with_items:
      - audit
      - ca-certificates
      - conntrack-tools
      - chrony
      - curl
      - "{{ 'iptables-' if ansible_distribution_major_version == '8' }}ebtables"
      - open-vm-tools
      - python3-pip
      - "python{{ '3' if ansible_distribution_major_version == '8' }}-netifaces"
      - "python{{ '3' if ansible_distribution_major_version == '8' }}-requests"
      - socat
      - sysstat
      - nfs-utils
      - NetworkManager
  register: result
  until: result is success
  retries: 5
  delay: 3


- name: enable auditd
  systemd:
    name: auditd
    enabled: true

- name: install el8 requirements
  yum:
    name:
      - iproute-tc
    state: present
    enablerepo: "{{ 'offline' if offline_mode_enabled else '' }}"
    disablerepo: "{{ '*' if offline_mode_enabled else '' }}"
  when:
    - ansible_distribution_major_version == '8'

- name: remove versionlock for kubelet and kubectl packages
  command: yum versionlock {{ '--disablerepo "*" --enablerepo offline' if offline_mode_enabled else '' }} delete {{ item }}
  with_items:
    - kubelet
    - kubectl
  args:
    warn: false
  ignore_errors: true
  register: command_result
  changed_when: >
    'command_result.stdout is regex(".*versionlock deleted: [1-9]+.*")'
  when:
    - versionlock_plugin_enabled
    - item in exportedversionlocklist.stdout

- name: install kubectl rpm package
  yum:
    name: "{{ 'kubectl-' + package_versions.kubernetes_rpm }}"
    state: present
    update_cache: true
    enablerepo: "{{ 'offline' if offline_mode_enabled else '' }}"
    disablerepo: "{{ '*' if offline_mode_enabled else '' }}"
  register: result
  until: result is success
  retries: 3
  delay: 3

- name: install kubelet rpm package
  yum:
    name: "{{ 'kubelet-' + package_versions.kubernetes_rpm }}"
    state: present
    update_cache: true
    enablerepo: "{{ 'offline' if offline_mode_enabled else '' }}"
    disablerepo: "{{ '*' if offline_mode_enabled else '' }}"
  register: kubelet_installation_rpm
  until: kubelet_installation_rpm is success
  retries: 3
  delay: 3

- name: add versionlock for kubelet and kubectl packages
  command: yum versionlock {{ '--disablerepo "*" --enablerepo offline' if offline_mode_enabled else '' }} add {{ item }}
  with_items:
    - kubelet
    - kubectl
  args:
    warn: false
  register: command_result
  changed_when: >
    'command_result.stdout is regex(".*versionlock added: [1-9]+.*")'
  when:
    - versionlock_plugin_enabled
