---
- name: install common packages
  zypper:
    name:
      - audit
      - ca-certificates
      - conntrack-tools
      - chrony
      - curl
      - ebtables
      - open-vm-tools
      - python3-pip
      - python3-netifaces
      - python3-requests
      - socat
      - sysstat
      - nfs-utils
    state: present
  register: result
  until: result is success
  retries: 15
  delay: 60

- name: remove versionlock for kubelet and kubectl packages
  command: zypper removelock {{ item }}
  with_items:
    - kubelet
    - kubectl
  args:
    warn: false
  ignore_errors: True
  register: command_result
  changed_when: 'command_result.stdout is regex(".*lock has been successfully removed.")'
  when:
    - exportedversionlocklist is defined and exportedversionlocklist.stdout is defined
    - item in exportedversionlocklist.stdout
    - "not 'Keep installed : ' + item + '-' + package_versions.kubernetes_rpm in exportedversionlocklist.stdout"

- name: install kubectl package
  zypper:
    name: "{{ 'kubectl-' + package_versions.kubernetes_rpm }}"
    state: present
    update_cache: yes
  register: result
  until: result is success
  retries: 15
  delay: 60

- name: install kubelet package
  zypper:
    name: "{{ 'kubelet-' + package_versions.kubernetes_rpm }}"
    state: present
    update_cache: yes
  register: kubelet_installation_rpm
  until: kubelet_installation_rpm is success
  retries: 15
  delay: 60

- name: add versionlock for kubelet and kubectl packages
  command: zypper addlock {{ item }}
  with_items:
    - kubelet
    - kubectl
  args:
    warn: false
  register: command_result
  changed_when: 'command_result.stdout is regex(".*lock has been successfully removed.")'
