[Unit]
Description=containerd container runtime
Documentation=https://containerd.io
After=network.target

[Service]
Environment=PATH=/usr/bin:/opt/bin:${PATH}
Delegate=yes
Environment=CONTAINERD_CONFIG=/etc/containerd/config.toml
ExecStart=/usr/bin/containerd --config ${CONTAINERD_CONFIG}
KillMode=process
Restart=always

# (lack of) limits from the upstream docker service unit
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
