---
- set_fact:
   rhsm_user: "{{ lookup('env', 'RHSM_USER' ) | ternary (lookup('env', 'RHSM_USER' ), rhsm_user) }}"
   rhsm_password: "{{ lookup('env', 'RHSM_PASS' ) | ternary (lookup('env', 'RHSM_PASS' ), rhsm_password) }}"
   rhsm_activation_key: "{{ lookup('env', 'RHSM_ACTIVATION_KEY' ) | ternary (lookup('env', 'RHSM_ACTIVATION_KEY' ), rhsm_activation_key) }}"
   rhsm_org_id: "{{ lookup('env', 'RHSM_ORG_ID' ) | ternary (lookup('env', 'RHSM_ORG_ID' ), rhsm_org_id) }}"

- name: RHEL subscription using username and password
  redhat_subscription:
    state: present
    username: "{{ rhsm_user }}"
    password: "{{ rhsm_password }}"
    auto_attach: true
    force_register: true
    release: "{{ ansible_distribution_version }}"
  register: rheluser
  when:
    - ansible_distribution == 'RedHat'
    - rhsm_user | length > 0
    - rhsm_password | length > 0

- name: RHEL subscription using org_id and activationkey
  redhat_subscription:
    state: present
    org_id: "{{ rhsm_org_id }}"
    activationkey: "{{ rhsm_activation_key }}"
    force_register: true
    release: "{{ ansible_distribution_version }}"
  register: rhelorg
  when:
    - ansible_distribution == 'RedHat'
    - rhsm_org_id | length > 0
    - rhsm_activation_key | length > 0

- name: Warning for missing repos
  debug:
    msg: "WARN: Your system is not using subscription manager fetching packages such as kernel-headers might fail"
  when:
    - ansible_distribution == 'RedHat'
    - rhelorg != None or rheluser != None
    - ansible_distribution_major_version == '8'

# make sure rhsm can manage repos + refresh and attach if needed
- name: RHEL subscription refresh
  shell: subscription-manager config --rhsm.manage_repos=1 && subscription-manager refresh && subscription-manager attach --auto
  when:
    - ansible_distribution == 'RedHat'
    - rhelorg != None or rheluser != None
    - ansible_distribution_major_version == '8'

# The AppStream repo for Centos 8 is not available from centos mirror list.
# AlmaLinux is 1:1 binary compatible with RHEL and subscription free.
# Alma linux's extra repository symlinks epel repository rpms. https://wiki.almalinux.org/repos/AlmaLinux.html
# Why not RHEL repo?: RHEL is RHEL though the free subscription expires once a year.
# it cannot be renewed until it does expire and then you have to re-register your systems to pick up the new subscription.
# Also RHEL repos are missing some python3 rpms that we need.
- name: add alma linux extra repository
  yum_repository:
    name: alma-linux-extra
    description: Extra repository for alma linux
    file: almalinux
    baseurl: "{{ alma_linux_extra_repo_base_url }}"
    mirrorlist: "{{ alma_linux_extra_repo_mirror_list_url }}"
    enabled: yes
    gpgkey: "{{ alma_linux_gpg_key_url }}"
    gpgcheck: yes
  when:
    - ansible_distribution_major_version == '8'

# epel-release for Centos/RHEL/Oracle 8 will be installed using Alma linux "extra" repository
- name: install epel-release for RHEL 8.x
  yum:
    name:
      - epel-release
    state: present
    disablerepo: appstream
  when:
    - ansible_distribution_major_version == '8'

- name: add epel gpg key for centos 7
  rpm_key:
    state: present
    key: "{{ epel_centos_7_rpm_gpg_key }}"
  when:
    - ansible_distribution_major_version == '7'

- name: install epel-release for centos 7
  yum:
    name: "{{ epel_centos_7_rpm }}"
    state: present
  when:
    - ansible_distribution_major_version == '7'

# RPM
- name: add Konvoy Kubernetes rpm repository
  yum_repository:
    name: kubernetes
    file: konvoy-k8s
    description: Konvoy Kubernetes package repository
    baseurl: "{{ kubernetes_rpm_repository_url }}"
    gpgkey: "{{ kubernetes_rpm_gpg_key_url }}"
    gpgcheck: true
  register: konvoy_repo_installation_rpm
  until: konvoy_repo_installation_rpm is success
  retries: 3
  delay: 3
