---
- set_fact:
   rhsm_user: "{{ lookup('env', 'RHSM_USER' ) | ternary (lookup('env', 'RHSM_USER' ), rhsm_user) }}"
   rhsm_password: "{{ lookup('env', 'RHSM_PASS' ) | ternary (lookup('env', 'RHSM_PASS' ), rhsm_password) }}"
   rhsm_activation_key: "{{ lookup('env', 'RHSM_ACTIVATION_KEY' ) | ternary (lookup('env', 'RHSM_ACTIVATION_KEY' ), rhsm_activation_key) }}"
   rhsm_org_id: "{{ lookup('env', 'RHSM_ORG_ID' ) | ternary (lookup('env', 'RHSM_ORG_ID' ), rhsm_org_id) }}"
   rhsm_consumer_name: "{{ lookup('env', 'RHSM_CONSUMER_NAME' ) | ternary (lookup('env', 'RHSM_CONSUMER_NAME' ), rhsm_consumer_name) }}"
   # split comma separated list of pool ids into a list
   rhsm_pool_id: "{{ (lookup('env', 'RHSM_POOL_ID' ) | ternary (lookup('env', 'RHSM_POOL_ID' ), rhsm_pool_id)) }}"

- name: RHEL subscription using username and password
  redhat_subscription:
    state: present
    username: "{{ rhsm_user }}"
    password: "{{ rhsm_password }}"
    auto_attach: true
    force_register: true
    consumer_name: "{{ rhsm_consumer_name }}"
    pool_ids: ["{{ rhsm_pool_id }}"]
    release: "{{ ansible_distribution_version }}"
  register: rheluser
  when:
    - ansible_distribution == 'RedHat'
    - rhsm_user | length > 0
    - rhsm_password | length > 0

- name: RHEL subscription using org_id and activationkey
  redhat_subscription:
    state: present
    org_id: "{{ rhsm_org_id }}"
    activationkey: "{{ rhsm_activation_key }}"
    force_register: true
    consumer_name: "{{ rhsm_consumer_name }}"
    pool_ids: ["{{ rhsm_pool_id }}"]
    release: "{{ ansible_distribution_version }}"
  register: rhelorg
  when:
    - ansible_distribution == 'RedHat'
    - rhsm_org_id | length > 0
    - rhsm_activation_key | length > 0

- name: Warning for missing repos
  debug:
    msg: "WARN: Your system is not using subscription manager fetching packages such as kernel-headers might fail"
  when:
    - ansible_distribution == 'RedHat'
    - rhelorg.subscribed_pool_ids is not defined and rheluser.subscribed_pool_ids is not defined
    - ansible_distribution_major_version == '8'

# make sure rhsm can manage repos + refresh and attach if needed
- name: RHEL subscription refresh
  shell: subscription-manager config --rhsm.manage_repos=1 && subscription-manager refresh && subscription-manager attach --auto
  when:
    - ansible_distribution == 'RedHat'
    - rhelorg.subscribed_pool_ids is defined or rheluser.subscribed_pool_ids is defined
    - ansible_distribution_major_version == '8'

# Disable support for EUS repos if this is RHEL 8.10 because its not needed
- name: Disable EUS repos for RHEL 8.10
  shell: subscription-manager repos --disable=rhel-8-for-x86_64-baseos-eus-rpms && subscription-manager repos --disable=rhel-8-for-x86_64-appstream-eus-rpms
  when:
    - ansible_distribution == 'RedHat'
    - rhelorg.subscribed_pool_ids is defined or rheluser.subscribed_pool_ids is defined
    - ansible_distribution_version is version('8.10', '==')

# RPM
- name: add Konvoy Kubernetes rpm repository
  yum_repository:
    name: kubernetes
    file: konvoy-k8s
    description: Konvoy Kubernetes package repository
    baseurl: "{{ kubernetes_rpm_repository_url }}"
    gpgkey: "{{ kubernetes_rpm_gpg_key_url }}"
    gpgcheck: true
  register: konvoy_repo_installation_rpm
  until: konvoy_repo_installation_rpm is success
  retries: 5
  delay: 6
