---
- name: Converge
  hosts: all
  gather_facts: false
  tasks:
    - set_fact:
        packer_builder_type: amazon
        sysprep: false

- name: "Include Provision"
  include: ../../provision.yaml
