apt-transport-https
chrony
nfs-common
python3-cryptography
python3-pip
libseccomp2
kubectl={{ .KubernetesVersion }}-1.1
kubelet={{ .KubernetesVersion }}-1.1
kubeadm={{ .KubernetesVersion }}-1.1
cloud-init
