---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
dns:
  imageRepository: {{ k8s_image_registry_for_coredns }}
etcd:
  local:
    imageRepository: {{ k8s_image_registry }}
    imageTag: {{ etcd_version }}
imageRepository: {{ k8s_image_registry }}
kubernetesVersion: {{ kubeadm_version }}
