{
    "variables": {
        "ansible_extra_vars": "",
        "build_timestamp": "{{timestamp}}",
        "build_version": "konvoy-ova-{{user `build_name`}}{{user `build_name_extra`}}-{{user `kubernetes_full_version` }}-{{user `build_timestamp`}}",
        "cluster": "",
        "datastore": "",
        "folder": "",
        "cpu": "4",
        "memory": "8192",
        "firmware": "bios",
        "cpu_cores": "1",
        "disk_size": "20480",
        "existing_ansible_ssh_args": "{{env `ANSIBLE_SSH_ARGS`}}",
        "ssh_password": "builder",
        "ssh_timeout": "60m",
        "ssh_username": "builder",
        "export_manifest": "none",
        "guest_os_type": null,
        "ib_version": "{{env `IB_VERSION`}}",
        "username": "{{env `VSPHERE_USERNAME`}}",
        "password": "{{env `VSPHERE_PASSWORD`}}",
        "vcenter_server": "{{env `VSPHERE_SERVER`}}",
        "vsphere_guest_os_type": null,
        "insecure_connection": "false",
        "linked_clone": "true",
        "manifest_output": "manifest.json",
        "distribution": "",
        "distribution_version": "",
        "shutdown_command": "shutdown -P now",
        "kubernetes_full_version": "",
        "build_name_extra": ""
    },
    "builders": [
      {
        "name": "vsphere-clone",
        "type": "vsphere-clone",
        "CPUs": "{{user `cpu`}}",
        "RAM": "{{user `memory`}}",
        "cluster": "{{user `cluster`}}",
        "communicator": "ssh",
        "cpu_cores": "{{user `cpu_cores`}}",
        "datacenter": "{{user `datacenter`}}",
        "datastore": "{{user `datastore`}}",
        "folder": "{{user `folder`}}",
        "host": "{{user `host`}}",
        "insecure_connection": "{{user `insecure_connection`}}",
        "linked_clone": "{{user `linked_clone`}}",
        "network": "{{user `network`}}",
        "password": "{{user `password`}}",
        "ssh_password": "{{user `ssh_password`}}",
        "ssh_timeout": "4h",
        "ssh_username": "{{user `ssh_username`}}",
        "template": "{{user `template`}}",
        "username": "{{user `username`}}",
        "vcenter_server": "{{user `vcenter_server`}}",
        "shutdown_command": "echo '{{user `ssh_password`}}' | sudo -S -E sh -c '{{user `shutdown_command`}}'",
        ((- if not .DryRun ))
        "create_snapshot": "true",
        "convert_to_template": "true",
        ((- end ))
        ((- if .UseBastion ))
        "ssh_bastion_host": "(( .Bastion ))",
        "ssh_bastion_password": "(( .BastionPassword ))",
        "ssh_bastion_username": "(( .BastionUser ))",
        ((- end ))
        "vm_name": "{{user `build_version`}}"
      }
    ],
    "post-processors": [
      {
        "name": "packer-manifest",
        "type": "manifest",
        "custom_data": {
          "build_date": "{{isotime}}",
          "build_name": "{{user `build_name`}}",
          "build_timestamp": "{{user `build_timestamp`}}",
          "build_type": "node",
          "containerd_version": "{{user `containerd_version`}}",
          "custom_role": "{{user `custom_role`}}",
          "disk_size": "{{user `disk_size`}}",
          "distro_arch": "{{ user `distro_arch` }}",
          "distro_name": "{{ user `distro_name` }}",
          "distro_version": "{{ user `distro_version` }}",
          "firmware": "{{user `firmware`}}",
          "guest_os_type": "{{user `guest_os_type`}}",
          "ib_version": "{{user `ib_version`}}",
          "kubernetes_cni_semver": "{{user `kubernetes_cni_semver`}}",
          "kubernetes_semver": "{{user `kubernetes_semver`}}",
          "kubernetes_source_type": "{{user `kubernetes_source_type`}}",
          "kubernetes_typed_version": "{{user `kubernetes_typed_version`}}",
          "os_name": "{{user `os_display_name`}}",
          "vsphere_guest_os_type": "{{user `vsphere_guest_os_type`}}"
        },
        "output": "{{user `manifest_output`}}",
        "strip_path": true
      }
    ],
    "provisioners":[
      {
        "type": "ansible",
        "playbook_file": "./ansible/provision.yaml",
        "user": "{{user `ssh_username`}}",
        "ansible_env_vars": [
          "ANSIBLE_SSH_ARGS='{{user `existing_ansible_ssh_args`}} -o IdentitiesOnly=yes'",
          "ANSIBLE_REMOTE_TEMP='/tmp/.ansible/'"
        ],
        "extra_arguments": [
          "--extra-vars",
          "{{ user `ansible_extra_vars` }}"
        ]
      },
      {
      "type": "shell",
      "inline": [
        "mkdir -p /tmp/.goss-dir"
      ]
      },
      {
          "type": "file",
          "source": "/usr/local/bin/goss",
          "destination": "/tmp/.goss-dir/goss",
          "direction": "upload",
          "max_retries": 10
      },
      {
      "arch": "{{user `goss_arch`}}",
      "format": "{{user `goss_format`}}",
      "format_options": "{{user `goss_format_options`}}",
      "goss_file": "{{user `goss_entry_file`}}",
      "inspect": "{{user `goss_inspect_mode`}}",
      "skip_install": true,
      "download_path": "/tmp/.goss-dir/goss",
      "type": "goss",
      "tests": [
        "{{user `goss_tests_dir`}}"
      ],
      "url": "{{user `goss_url`}}",
      "use_sudo": true,
      "vars_file": "{{user `goss_vars_file`}}",
      "vars_inline": {
        "ARCH": "amd64",
        "OS": "{{user `distribution` | lower}}",
        "PROVIDER": "vsphere"
      },
      "vars_env": {
        "HTTP_PROXY": "{{user `http_proxy`}}",
        "http_proxy": "{{user `http_proxy`}}",
        "HTTPS_PROXY": "{{user `https_proxy`}}",
        "https_proxy": "{{user `https_proxy`}}",
        "NO_PROXY": "{{user `no_proxy`}}",
        "no_proxy": "{{user `no_proxy`}}"
      },
      "version": "{{user `goss_version`}}"
      },
      {
        "type": "shell",
        "inline": [
          "rm -r  /tmp/.goss-dir"
        ]
      }
    ]
  }
