[mirror-0]
name=mirror-0
baseurl=https://34.219.152.253/repo/kubernetes/kubernetes
gpgcheck=0
sslverify=0

[mirror-1]
name=mirror-1
baseurl=https://34.219.152.253/repo/baseos/rhel-8-for-x86_64-baseos-rpms
gpgcheck=0
sslverify=0

[mirror-2]
name=mirror-2
baseurl=https://34.219.152.253/repo/appstream/rhel-8-for-x86_64-appstream-rpms
gpgcheck=0
sslverify=0

[mirror-3]
name=mirror-3
baseurl=https://34.219.152.253/repo/codeready-builder/codeready-builder-for-rhel-8-x86_64-rpms
gpgcheck=0
sslverify=0