audit
ca-certificates
conntrack-tools
chrony
ebtables
open-vm-tools
python3-pip
python-unversioned-command
socat
sysstat
yum-utils
yum-plugin-versionlock
NetworkManager
yum-utils
cloud-init
cloud-utils-growpart
container-selinux
kubectl-{{ .KubernetesVersion }}-0
kubelet-{{ .KubernetesVersion }}-0
kubeadm-{{ .KubernetesVersion }}-0
conntrack
ebtables
ethtool
iproute
iptables
socat
cri-tools
gcc
libseccomp
nfs-utils
sssd-kcm
iscsi-initiator-utils
lvm2
xfsprogs
ipvsadm
lsscsi
