audit
ca-certificates
conntrack-tools
chrony
open-vm-tools
python3-pip
socat
sysstat
dnf-utils
yum-utils
yum-plugin-versionlock
NetworkManager
cloud-init
cloud-utils-growpart
container-selinux
kernel-uek-5.15.0-322.203.3.4.5.el8uek*
{{ if .FetchKubernetesRPMs -}}
kubectl-{{ .KubernetesVersion }}-0
kubelet-{{ .KubernetesVersion }}-0
kubeadm-{{ .KubernetesVersion }}-0
cri-tools
{{- end }}
conntrack
iptables-ebtables
ethtool
iproute
iproute-tc
iptables
socat
gcc
libseccomp
nfs-utils
sssd-kcm
iptables-libs
libnftnl
