---
- name: remove versionlock for kubeadm packages
  command: yum versionlock delete kubeadm
  args:
    warn: false
  ignore_errors: true
  register: command_result
  changed_when: |
    'command_result.stdout is regex(".*versionlock deleted: [1-9]+.*")'
  when:
    - versionlock_plugin_enabled
    - exportedversionlocklist is defined and exportedversionlocklist.stdout is defined
    - "(
      'kubeadm' in exportedversionlocklist.stdout and
      not 'kubeadm-' + package_versions.kubernetes_rpm in exportedversionlocklist.stdout
      )"

- name: install kubeadm rpm package
  yum:
    name: "{{ 'kubeadm-' + package_versions.kubernetes_rpm }}"
    state: present
    update_cache: true
    enablerepo: "{{ 'offline' if offline_mode_enabled else '' }}"
    disablerepo: "{{ '*' if offline_mode_enabled else '' }}"
  register: result
  until: result is success
  retries: 3
  delay: 3

- name: add versionlock for kubeadm package
  command: yum versionlock add kubeadm
  args:
    warn: false
  register: command_result
  changed_when: |
    'command_result.stdout is regex(".*versionlock added: [1-9]+.*")'
  when:
    - versionlock_plugin_enabled
