# Runs AWS tests when pull request opened, repopened or synchronized
name: E2E Tests - Build AWS AMI
on:
  workflow_dispatch:
  pull_request:
    types: [labeled, synchronize]

permissions:
  contents: read
  id-token: write

jobs:
  rune2e:
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        os:
        - "centos 7.9"
        - "redhat 7.9"
        - "redhat 8.4"
        - "redhat 8.6"
        - "sles 15"
        - "oracle 7.9"
        - "flatcar"
        - "ubuntu 18.04"
        - "ubuntu 20.04"
        buildConfig:
        - "basic"
        - "fips"
        - "nvidia"
        - "offline"
        - "offline-fips"
        - "offline-nvidia"
        exclude:
        # we only support basic
        - os: flatcar
          buildConfig: nvidia
        - os: flatcar
          buildConfig: fips
        - os: flatcar
          buildConfig: offline-fips
        - os: flatcar
          buildConfig: offline-nvidia
        - os: flatcar
          buildConfig: offline
        # we only support basic
        - os: "ubuntu 18.04"
          buildConfig: nvidia
        - os: "ubuntu 18.04"
          buildConfig: fips
        - os: "ubuntu 18.04"
          buildConfig: offline-fips
        - os: "ubuntu 18.04"
          buildConfig: offline-nvidia
        - os: "ubuntu 18.04"
          buildConfig: offline
        # we only support gpu
        - os: "ubuntu 20.04"
          buildConfig: fips
        - os: "ubuntu 20.04"
          buildConfig: offline-fips
        - os: "ubuntu 20.04"
          buildConfig: offline-nvidia
        - os: "ubuntu 20.04"
          buildConfig: offline
        # we only support gpu
        - os: "sles 15"
          buildConfig: fips
        - os: "sles 15"
          buildConfig: offline-fips
        - os: "sles 15"
          buildConfig: offline-nvidia
        - os: "sles 15"
          buildConfig: offline
        # we only support fips
        # https://docs.d2iq.com/dkp/2.4/supported-infrastructure-operating-systems
        - os: "oracle 7.9"
          buildConfig: offline-fips
        - os: "oracle 7.9"
          buildConfig: offline-nvidia
        - os: "oracle 7.9"
          buildConfig: nvidia
        - os: "oracle 7.9"
          buildConfig: offline
    runs-on: self-hosted
    continue-on-error: false
    if: |
      github.event_name == 'pull_request' &&
      (
        (github.event.action == 'labeled' &&  github.event.label.name == 'runs-e2e-tests') ||
        (github.event.action == 'synchronize' && contains(github.event.pull_request.labels.*.name, 'runs-e2e-tests'))
      )
    steps:
      - name: Checkout konvoy-image-builder repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to dockerhub Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Login to D2iQ's Mirror Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.D2IQ_DOCKER_MIRROR_REGISTRY}}
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Setup buildkit
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/konvoy-image-builder
          aws-region: us-west-2

      - name: Run E2E test for ${{ matrix.os }} with ${{ matrix.buildConfig }} configuration
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: runE2e "${{ matrix.os }}" "${{ matrix.buildConfig }}" aws true
        env:
          GITHUB_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
          RHSM_USER: ${{ secrets.RHSM_USER }}
          RHSM_PASS: ${{ secrets.RHSM_PASS }}

      - name: Run make destroy to clean up failed tests
        if: ${{ always() }}
        run: make infra.aws.destroy || true
