# Runs AWS tests when pull request opened, repopened or synchronized
name: E2E Tests - Build AWS AMI
on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  id-token: write

jobs:
  rune2e:
    strategy:
      fail-fast: false
      max-parallel: 30
      matrix:
        include:
          #RHEL 8.10
          - os: "redhat 8.10"
            buildConfig: "basic"
          - os: "redhat 8.10"
            buildConfig: "fips"
          - os: "redhat 8.10"
            buildConfig: "nvidia"
          - os: "redhat 8.10"
            buildConfig: "offline"
          - os: "redhat 8.10"
            buildConfig: "offline-fips"
          - os: "redhat 8.10"
            buildConfig: "offline-nvidia"
          # Oracle 8.9
          - os: "oracle 8.9"
            buildConfig: "basic"
          - os: "oracle 8.9"
            buildConfig: "fips"
          - os: "oracle 8.9"
            buildConfig: "rhck"
          # Flatcar
          - os: "flatcar"
            buildConfig: "basic"
          # Ubuntu 20.04
          - os: "ubuntu 20.04"
            buildConfig: "basic"
          - os: "ubuntu 20.04"
            buildConfig: "nvidia"
          - os: "ubuntu 20.04"
            buildConfig: "offline"
          # Ubuntu 22.04
          - os: "ubuntu 22.04"
            buildConfig: "basic"
          - os: "ubuntu 22.04"
            buildConfig: "nvidia"
          - os: "ubuntu 22.04"
            buildConfig: "offline"
          # Rocky 9.1
          - os: "rocky 9.1"
            buildConfig: "basic"
          - os: "rocky 9.1"
            buildConfig: "offline"
    runs-on:
    - self-hosted
    - medium
    continue-on-error: false
    steps:
      - name: Checkout konvoy-image-builder repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to dockerhub Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Login to D2iQ's Mirror Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.D2IQ_DOCKER_MIRROR_REGISTRY}}
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Setup buildkit
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/konvoy-image-builder
          aws-region: us-west-2

      - name: Run E2E test for ${{ matrix.os }} with ${{ matrix.buildConfig }} configuration
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: runE2e "${{ matrix.os }}" "${{ matrix.buildConfig }}" aws true
        env:
          GITHUB_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
          RHSM_ACTIVATION_KEY: ${{ secrets.RHSM_ACTIVATION_KEY }}
          RHSM_ORG_ID: ${{ secrets.RHSM_ORG_ID }}

      - name: Run make destroy to clean up failed tests
        if: ${{ always() }}
        run: make infra.aws.destroy || true
