---
name: Build and Push Devkit image

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

env:
  GITHUB_TOKEN: "${{ secrets.MESOSPHERECI_USER_TOKEN }}"

# ensure that only a single job or workflow using the same concurrency group will run at a time
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-push-devkit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout konvoy-image-builder repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to dockerhub Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Login to D2iQ's Mirror Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.D2IQ_DOCKER_MIRROR_REGISTRY}}
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Setup buildkit
        uses: docker/setup-buildx-action@v2

      - name: Build and Push multi arch devkit image
        run: make devkit-image-push-manifest
