---
name: Coverage report

# yamllint disable-line rule:truthy
on:
  workflow_run:
    workflows:
      - Test
    types:
      - completed

jobs:

  coverage:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.event == 'pull_request' }}

    steps:
      - uses: actions/checkout@v2

      - name: Download Coverage Artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          commit: ${{ github.event.workflow_run.head_commit.id }}
          name: coverage

      - name: Produce Coverage report
        uses: 5monkeys/cobertura-action@v8
        with:
          path: coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 75
