on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'


permissions:
  contents: read
  id-token: write

name: Build AWS Images for Konvoy E2E tests
jobs:
  builde2e:
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        include:
          - os: "centos 7.9"
            buildConfig: "offline"
          - os: "centos 7.9"
            buildConfig: "offline-fips"
          - os: "oracle 7.9"
            buildConfig: "fips"
          - os: "redhat 7.9"
            buildConfig: "offline"
          - os: "redhat 7.9"
            buildConfig: "offline-fips"
          - os: "redhat 8.4"
            buildConfig: "offline"
          - os: "redhat 8.4"
            buildConfig: "offline-fips"
          - os: "redhat 8.6"
            buildConfig: "offline"
          - os: "redhat 8.6"
            buildConfig: "offline-fips"
          - os: "rocky 9.1"
            buildConfig: "offline"
          - os: "rocky 9.1"
            buildConfig: "offline-fips"
          - os: "sles 15"
            buildConfig: "basic"
          - os: "ubuntu 20.04"
            buildConfig: "nvidia"

    runs-on: 
    - self-hosted
    - small
    continue-on-error: false
    steps:
      - name: Checkout konvoy-image-builder repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to dockerhub Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Login to D2iQ's Mirror Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.D2IQ_DOCKER_MIRROR_REGISTRY}}
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Setup buildkit
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/konvoy-image-builder
          aws-region: us-west-2

      - name: Build Image ${{ matrix.os }} with ${{ matrix.buildConfig }} for aws
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: runE2e "${{ matrix.os }}" "${{ matrix.buildConfig }}" aws false
        env:
          GITHUB_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
