# Runs Azure tests when pull request opened, repopened or synchronized
name: E2E Tests - Run all the tests on PR
on:
  workflow_dispatch:
  pull_request:
    types: [labeled, synchronize]

permissions:
  contents: read
  id-token: write

jobs:
  build-devkit-image:
    if: |
      github.event_name == 'pull_request' &&
      (
        (contains(fromJson('["labeled", "synchronize"]'), github.event.action)) &&
        (contains(toJson(github.event.pull_request.labels.*.name), '-tests'))
      ) ||
      contains(fromJson('["workflow_dispatch"]'), github.event_name)
    uses: ./.github/workflows/build-devkit-image.yaml
    secrets: inherit

  gcp-e2e-tests:
    needs: [build-devkit-image]
    if: |
      github.event_name == 'pull_request' &&
      (
        (github.event.action == 'labeled' &&  (github.event.label.name == 'runs-e2e-tests-temp' || github.event.label.name == 'runs-gcp-tests')) ||
        (github.event.action == 'synchronize' && (contains(github.event.pull_request.labels.*.name, 'runs-e2e-tests-temp') ||  contains(github.event.pull_request.labels.*.name, 'runs-gcp-tests')))
      ) ||
      contains(fromJson('["workflow_dispatch"]'), github.event_name)
    uses: ./.github/workflows/gcp-e2e.yaml
    secrets: inherit
  
  aws-e2e-tests:
    needs: [build-devkit-image]
    if: |
      github.event_name == 'pull_request' &&
      (
        (github.event.action == 'labeled' &&  (github.event.label.name == 'runs-e2e-tests-temp' || github.event.label.name == 'runs-aws-tests')) ||
        (github.event.action == 'synchronize' && (contains(github.event.pull_request.labels.*.name, 'runs-e2e-tests-temp') ||  contains(github.event.pull_request.labels.*.name, 'runs-aws-tests')))
      ) ||
      contains(fromJson('["workflow_dispatch"]'), github.event_name)
    uses: ./.github/workflows/aws-e2e.yaml
    secrets: inherit

  vsphere-e2e-tests:
    needs: [build-devkit-image]
    if: |
      github.event_name == 'pull_request' &&
      (
        (github.event.action == 'labeled' &&  (github.event.label.name == 'runs-e2e-tests-temp' || github.event.label.name == 'runs-vsphere-tests')) ||
        (github.event.action == 'synchronize' && (contains(github.event.pull_request.labels.*.name, 'runs-e2e-tests-temp') ||  contains(github.event.pull_request.labels.*.name, 'runs-vsphere-tests')))
      ) ||
      contains(fromJson('["workflow_dispatch"]'), github.event_name)
    uses: ./.github/workflows/vsphere-e2e.yaml
    secrets: inherit

  azure-e2e-tests:
    needs: [build-devkit-image]
    if: |
      github.event_name == 'pull_request' &&
      (
        (github.event.action == 'labeled' &&  (github.event.label.name == 'runs-e2e-tests-temp' || github.event.label.name == 'runs-azure-tests')) ||
        (github.event.action == 'synchronize' && (contains(github.event.pull_request.labels.*.name, 'runs-e2e-tests-temp') ||  contains(github.event.pull_request.labels.*.name, 'runs-azure-tests')))
      ) ||
      contains(fromJson('["workflow_dispatch"]'), github.event_name)
    uses: ./.github/workflows/azure-e2e.yaml
    secrets: inherit
