---
name: Unit Tests

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout konvoy-image-builder repository
        uses: actions/checkout@v3

      - name: Run Unit Tests
        run: make devkit.run
        env:
          WHAT: make test

      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: coverage.xml

      - name: Display the coverage metrics in a GitHub Pull Request comments
        if: |
            github.event_name == 'pull_request' &&
            github.actor != 'dependabot[bot]'
        uses: 5monkeys/cobertura-action@v13
        with:
          path: coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 75
