'on':
  pull_request:

permissions:
  contents: read
  id-token: write
name: E2E  Tests - Build Vsphere
jobs:
  rune2e:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os:
        - "redhat 7.9"
        - "redhat 8.4"
        - "redhat 8.6"
        - "ubuntu 20.04"
        - "rocky 9.1"
        buildConfig:
        - "basic"
        - "fips"
        - "offline"
        - "offline-fips"
        exclude:
        - os: "ubuntu 20.04"
          buildConfig: fips
        - os: "ubuntu 20.04"
          buildConfig: offline-fips
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: setup buildkit
        uses: docker/setup-buildx-action@v2

      - name: Run Mage
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: runE2e "${{ matrix.os }}" "${{ matrix.buildConfig }}" ova true
        env:
          SSH_BASTION_KEY_CONTENTS: ${{ secrets.SSH_BASTION_KEY_CONTENTS }}
          SSH_BASTION_HOST: ${{ secrets.SSH_BASTION_HOST }}
          SSH_BASTION_USERNAME: ${{ secrets.SSH_BASTION_USERNAME }}
          VSPHERE_USERNAME: ${{ secrets.VSPHERE_USERNAME }}
          VSPHERE_PASSWORD: ${{ secrets.VSPHERE_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
          VSPHERE_SERVER: ${{ secrets.VSPHERE_SERVER }}
