# Runs vSphere tests when pull request opened, repopened or synchronized
name: E2E Tests - Build Vsphere template
on:
  workflow_dispatch:
  pull_request:
    types: [labeled, synchronize]

permissions:
  contents: read
  id-token: write

jobs:
  rune2e:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os:
        - "redhat 7.9"
        - "redhat 8.4"
        - "redhat 8.6"
        - "ubuntu 20.04"
        - "rocky 9.1"
        buildConfig:
        - "offline"
        - "offline-fips"
        exclude:
        - os: "ubuntu 20.04"
          buildConfig: fips
        - os: "ubuntu 20.04"
          buildConfig: offline-fips
    runs-on:
    - self-hosted
    - small
    continue-on-error: false
    if: |
      github.event_name == 'pull_request' &&
      (
        (github.event.action == 'labeled' &&  (github.event.label.name == 'runs-e2e-tests' || github.event.label.name == 'runs-vsphere-tests')) ||
        (github.event.action == 'synchronize' && (contains(github.event.pull_request.labels.*.name, 'runs-e2e-tests') ||  contains(github.event.pull_request.labels.*.name, 'runs-vsphere-tests')))
      )
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to dockerhub Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}
      
      - name: Login to D2iQ's Mirror Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.D2IQ_DOCKER_MIRROR_REGISTRY}}
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Setup buildkit
        uses: docker/setup-buildx-action@v2

      - name: Setup SSH agent with private key to connect with pre-configured bastion host
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_BASTION_KEY_CONTENTS }}
      
      # configure git to access private repo hosting vsphere module mesosphere/vcenter-tools
      - name: Configure git to clone private registry from mesosphere org
        run: |
          git config --global url."https://git:${{ secrets.MESOSPHERECI_USER_TOKEN }}@github.com/mesosphere".insteadOf "https://github.com/mesosphere"
          git config --global url."https://${{ secrets.MESOSPHERECI_USER_TOKEN }}:x-oauth-basic@github.com/mesosphere".insteadOf ssh://git@github.com/mesosphere

      - name: Run E2E test for ${{ matrix.os }} with ${{ matrix.buildConfig }} configuration
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: runE2e "${{ matrix.os }}" "${{ matrix.buildConfig }}" ova true
        env:
          SSH_BASTION_KEY_CONTENTS: ${{ secrets.SSH_BASTION_KEY_CONTENTS }}
          SSH_BASTION_PUBLIC_KEY_CONTENTS: ${{ secrets.SSH_BASTION_PUBLIC_KEY_CONTENTS }}
          SSH_PUBLIC_KEY: ${{ secrets.SSH_BASTION_PUBLIC_KEY_CONTENTS}}
          VSPHERE_USERNAME: ${{ secrets.VSPHERE_USERNAME }}
          VSPHERE_USER: ${{ secrets.VSPHERE_USERNAME }} # required for terraform
          VSPHERE_PASSWORD: ${{ secrets.VSPHERE_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
          VSPHERE_SERVER: ${{ secrets.VSPHERE_SERVER }}
          VSPHERE_DATASTORE: ${{ secrets.VSPHERE_DATASTORE }}
          VSPHERE_DATACENTER: ${{ secrets.VSPHERE_DATACENTER }}
        
      - name: Run make destroy to clean up failed tests
        if: ${{ always() }}
        run: make infra.vsphere.destroy || true
        env:
          SSH_BASTION_PUBLIC_KEY_CONTENTS: ${{ secrets.SSH_BASTION_PUBLIC_KEY_CONTENTS }}
          VSPHERE_USERNAME: ${{ secrets.VSPHERE_USERNAME }}
          VSPHERE_USER: ${{ secrets.VSPHERE_USERNAME }} # required for terraform
          VSPHERE_PASSWORD: ${{ secrets.VSPHERE_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
          VSPHERE_SERVER: ${{ secrets.VSPHERE_SERVER }}
          VSPHERE_DATASTORE: ${{ secrets.VSPHERE_DATASTORE }}
          VSPHERE_DATACENTER: ${{ secrets.VSPHERE_DATACENTER }}