[Unit]
Description=nvidia kernel modules systemd service unit file.

[Service]
Type=oneshot
ExecStart=/opt/dkp/nvidia/nvidia-service.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target

