[Unit]
Description=nvidia persistenced systemd service unit file.

[Service]
Type=oneshot
ExecStart=/opt/dkp/nvidia/nvidia-persistenced.sh
RemainAfterExit=true
StandardOutput=journal


[Install]
WantedBy=multi-user.target
