[Unit]
Description=nvidia kernel modules systemd service unit file.

[Service]
ExecStart=modprobe -d /opt/nvidia/460.73.01/ -a nvidia nvidia-uvm nvidia-modeset

[Install]
WantedBy=multi-user.target
