[Unit]
Description=nvidia persistenced systemd service unit file.
Requires=nvidia-driver.service
After=nvidia-driver.service

[Service]
Type=forking
ExecStart=/opt/bin/nvidia-persistenced --persistence-mode --verbose

[Install]
WantedBy=multi-user.target
